body {
  padding-left: 20px;
  padding-top: 2px;
}

#preview {

  width: 400px;
  height: 200px;
  margin-bottom: 30px;
  padding-left: 10px;

  border: solid #000000;

  overflow-y: scroll;
}

#preview::-webkit-scrollbar {
  display: none;
}

#app {
  margin-top: 20px;
  margin-left: 20px;
}

input {

  width: 100px;
  height: 25px;
  margin-left: 285px;

  border-radius: 0px;
  border: none;
  box-shadow: 0 0 1.5px 3px #00000f;
}

a {
  /* text-decoration: none!important; */
  color: #000000;
}
ul {
  font-size: 20px;
  list-style-type: none;
}

li {
  padding-top: 4px;
}
